<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="outer">
        <div id="wrapper">
            <div id="nav">
                <div id="nav-left">
                    <div id="nav-right">
                        @Html.Partial("_Navigation")
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            
            @Html.Partial("_TopBanner")
            @Html.Partial("_Login")
            
            <div id="body">
                <div id="body-bot">
                    <h2>
                        <span>top <strong>GADGETS</strong> of this month</span></h2>
                    @RenderBody()
                    <div id="banner">
                        @RenderSection("Banner", false)
                        <div class="clear">
                        </div>
                    </div>
                    <div id="footer">
                        <div id="footloose">
                            <span class="logo"><span class="top">top</span><span class="gadgets">gadgets</span></span></div>
                        <p>
                            <a href="http://www.ingebrigtsen.info">Privacy Policy</a> <strong>&nbsp;:&nbsp;</strong>
                            <a href="http://www.ingebrigtsen.info">Terms &amp; Conditions</a>
                            <br />
                            &copy; Copyright 2011. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
