@using GadgetShop.Domain.Products
@using GadgetShop.Web.Extensions
@using GadgetShop.Infrastructure.Images
@model Product
@{
    var productRepository = DependencyResolver.Current.GetService<IProductRepository>();
}
<div class="item">
    <img src="@productRepository.GetThumbImageUrl(Model)" width="91" height="105" alt="@Model.Name" class="left" />
    <h3>
        @Html.ActionLink(Model.Name, "Details", "Products", new { Id = Model.Id }, new { })
    </h3>
    <p>
        @Model.ShortDescription
    </p>
    <div>
        @Html.ActionLink("details", "Details", "Products", new { Id = Model.Id }, new { @class = "details" })
        @using (Html.BeginForm("Add", "Carts", FormMethod.Post))
        {
            @Html.Hidden("Id", Model.Id)
            @Html.SubmitLink("add to cart", new { @class = "addtocart" })
        }
    </div>
    <div class="divider">
    </div>
</div>
