@using GadgetShop.Web.Extensions
@using GadgetShop.Web.Features.Carts
@model CartViewModel
           
@section Headline {
    <strong>Your cart</strong>
}

<div id="cart">
    <ul>
        @foreach (var cartItem in Model.Items)
        {
            <li>Product : @cartItem.Product.Name<br />
                Quantity : @cartItem.Quantity<br />
                Price : @cartItem.UnitPrice<br />
                Total : @cartItem.Sum
            </li>
        }
    </ul>
    Sum : @Model.Sum        
    <br />
    <br />

    @using( Html.BeginForm("Place", "Orders") )
    {
        @Html.SubmitLink("Place order")
    }
</div>
